{% extends "/frontoffice/base.html.twig" %}

{% block title %}Accueil{% endblock %}
{% block content %}
<div class="container text-center">

  <div class="row">
    <div class="col-lg-12">
      <img class="center mb-4" src="images/profile.jpeg" alt="profile picture A.G" width="45%">
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
        vehicula
        ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-secondary" href="/download-moncv" role="button">mon cv</a></p>

      <div class="text-center pb-3">
        <a href="https://github.com/alli83/projet5" class="btn btn-social btn-github">
          <i class="fa fa-github pe-3 socialShare"></i> Suivez moi sur Github</i></a>
        <a href="https://fr.linkedin.com/" class="btn btn-social btn-linkedin">
          <i class="fa fa-linkedin pe-3 socialShare"></i> ou sur linkedIn</i></a>
        <a href="https://twitter.com/share" class="btn btn-social btn-twitter">
          <i class="fa fa-twitter"></i> ou sur Twitter</i></a>
      </div>
    </div>
  </div>

  <hr>
  <div class="container my-5 ">
    <h5>Une question pour un projet - un renseignement - N'hésitez pas à me contacter </h5>


    <div class="row justify-content-md-center">
      <div class="col-md-6 p-4 rounded justify-content-center filmPage">
        <form method="POST" action="/contact" id="contactForm">
          <input type="hidden" value="{{tokencsrf}}" name="tokencsrf" />
          <div class="form-check d-flex justify-content-center mb-4">
            <label class="form-check-label" for="reason">
              Je souhaite:
            </label>
          </div>

          <select class="form-select" aria-label="Default select example" name="reason" id="reason">
            <option selected>Obtenir des renseignements</option>
            <option>M'inscrire</option>
            <option>Avoir un devis</option>
            <option>Autres</option>
          </select>
          <h3 class="text-center my-4">Vos coordonnées</h3>
          <div class="col mb-2">
            <div class="form-outline">
              <label class="form-label" for="nameContact">Votre prénom</label>
              <input type="text" id="nameContact" class="form-control" name="nameContact" />
            </div>
          </div>
          <div class="col mb-2">
            <div class="">
              <label class="form-label" for="lastNameContact">Votre nom</label>
              <input type="text" id="lastNameContact" class="form-control" name="lastNameContact" />
            </div>
          </div>
          <div class="mb-4">
            <label class="form-label" for="emailContact">Votre email</label>
            <input type="email" id="emailContact" class="form-control" name="emailContact" />
          </div>
          <div class="form-group mb-3">
            <label for="messageContact">Votre message</label>
            <textarea class="form-control rounded-0" id="messageContact" name="messageContact" rows="3"></textarea>
          </div>
          <div class="form-check d-flex justify-content-center mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="check" name="check" />
            <label class="form-check-label" for="check">
              J'accepte les conditions......
            </label>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-dark btn-block mb-4">Envoyer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <hr>
</div>
{% endblock %}