{% extends "/frontoffice/base.html.twig" %}


{% block title %}Inscription{% endblock %}


{% block content %}

<div class="container justify-content-center">
    <div class="row text-center justify-content-center">
        <h2>Formulaire d'inscription</h2>
        <p>Une fois que vous aurez créé votre compte, vous pourrez commenter les différents posts présents sur notre
            blog.<br>
            Si vous rencontrez des difficultés, n'hésitez pas à nous contacter via le formulaire de contact sur notre
            page d'accueil
            <a class="linkStandard" href="/">ou cliquez ici</a>
        </p>
        <div class="col col-lg-4">
            <form method="POST" action="/signup" id="registration-form">
                <div class="mb-4">
                    <label class="form-label" for="pseudoSignup">Votre pseudo</label>
                    <input type="text" id="pseudoSignup" class="form-control" name="pseudoSignup" />
                </div>
                <div class="mb-4">
                    <label class="form-label" for="emailSignup">Votre email</label>
                    <input type="email" id="emailSignup" class="form-control" name="emailSignup">
                </div>
                <div class="mb-4">
                    <label class="form-label" for="password">Votre mot de passe</label>
                    <input type="password" id="password" class="form-control" name="password"
                        class="form-control validate" />
                </div>
                <div class="mb-4">
                    <label class="form-label" for="passwordConfirm">Confirmation du mot de passe</label>
                    <input type="password" id="passwordConfirm" class="form-control" name="passwordConfirm"
                        class="form-control validate" />
                </div>
                <div class="form-check d-flex mb-4">
                    <input class="form-check-input me-2" type="checkbox" value="" id="checkSignup" name="checkSignup" />
                    <label class="form-check-label" for="checkSignup">
                        J'accepte les conditions d'utilisations tels que définies <a class="linkStandard"
                            href="#">ici</a>
                    </label>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-dark btn-block mb-4 orangeButton">S'inscrire</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}