{% extends "/frontoffice/base.html.twig" %}

{% block title %} Erreur {% endblock %}
{% block content %}
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mb-4">
                <span class="display-1 d-block mb-4">403</span>
                <div class="mb-4 lead">
                    <h3 class="mb-4">Où Allez vous !?!</h3>
                    <p>Vous n'êtes pas autorisé à consulter cette page, ou à effectuer cette action</p>
                </div>
                <img class="center mb-4 img-fluid"
                    src="https://cdn.pixabay.com/photo/2013/04/01/07/39/false-98375_1280.jpg"
                    alt="error image forbidden" width="30%">
                <div class="mb-4">
                    <a href="/" class="btn btn-info linkStandard">Retour à l'accueil</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}