{% extends "/frontoffice/base.html.twig" %}

{% block title %}- Accueil{% endblock %}
{% block content %}
<div class="page-404">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <!--BEGIN CONTENT-->
                <div class="inner-circle"><i class="fa fa-cogs"></i><span>500</span></div>
                <span class="inner-status">Opps! Une erreur est survenue!</span>
                <span class="inner-detail">La page est indisponible. Merci d'essayer à nouveau ultérieurement</span>
                <!--END CONTENT-->
            </div>
        </div>
    </div>
</div>
{% endblock %}