{% extends "/frontoffice/base.html.twig" %}

{% block title %}Erreur{% endblock %}
{% block content %}
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">La page demandée est introuvable</div>
                <img class="center mb-4 img-fluid"
                    src="https://cdn.pixabay.com/photo/2018/01/04/15/51/404-error-3060993_1280.png"
                    alt="Error image 404 not found" width="30%">
                <a href="/" class="btn btn-link">Retour à l'accueil</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}