{% extends "/frontoffice/error/baseError.html.twig" %}

{% block title %}Erreur{% endblock %}
{% block content %}
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">500</span>
                <div class="mb-4 lead">Le site est temporairement indisponible. Veuillez réessayer ultérieurement</div>
                <img class="center mb-4 img-fluid"
                    src="https://cdn.pixabay.com/photo/2018/01/04/15/51/404-error-3060993_1280.png"
                    alt="Error image 500" width="30%">
            </div>
        </div>
    </div>
</div>
{% endblock %}