<?php

return array(
    'database' => array(
        "db_user" => "name",
        "db_pass" => "password",
        "db_host" => "127.0.0.1:0000",
        "db_name" => "databasename"
    ),
    'emailTransport' => array(
        "smtp" => "127.0.0.1:0000",
        "smtp_port" => 1025,
        "from" => "test@test.fr",
        "sender" => "nom de l'expediteur"
    )
);
